{% extends 'base.html' %}
{% load static %}

{% block head %}
<!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <style>
    * {
    box-sizing: border-box;
    }

    /* Create three equal columns that floats next to each other */
    .column {
    float: left;
    width: 33.33%;
    text-align: center;
    padding: 10px;
    }

    /* Clear floats after the columns */
    .row:after {
    content: "";
    display: table;
    clear: both;
    }

    /* ABOUT DEVELOPERS */
    .title {
        margin-bottom: 0%;
        font-style: italic;
    }
</style>
{% endblock %}

{% block content %}
    <h1>About us</h1>
    <p>Developers have put forth a beautiful mechanism to understand and analyse this 
        current horrific situation.</p>
    <hr>

    <div class="row">
        <div class="column">
            <h4>Prithvi Amin</h4>
            <img src="../static/img/Prithvi.jpeg" width="190" height="250"/><br><br>
            <label class="title">Qualification</label><br>
            <label>B.E. Information Technology</label><br>
            <label class="title">Contact No.</label><br>
            <label>+91 80974 38675</label><br>
            <label class="title">Email ID</label><br>
            <label>2017.prithvi.amin@ves.ac.in</label><br>        
        </div>
        <div class="column">
            <h4>Sayali Moghe</h4>
            <img src="../static/img/Sayali.jpg" width="190" height="250"/><br><br>
            <label class="title">Qualification</label><br>
            <label>B.E. Information Technology</label><br>
            <label class="title">Contact No.</label><br>
            <label>+91 95940 33444</label><br>
            <label class="title">Email ID</label><br>
            <label>2017.sayali.moghe@ves.ac.in</label><br>        
        </div>
        <div class="column">
            <h4>Sparsh Prabhakar</h4>
            <img src="../static/img/Sayali.jpg" width="190" height="250"/><br><br>
            <label class="title">Qualification</label><br>
            <label>B.E. Information Technology</label><br>
            <label class="title">Contact No.</label><br>
            <label>+91 90042 51621</label><br>
            <label class="title">Email ID</label><br>
            <label>2017.sparsh.prabhakar@ves.ac.in</label><br>
        </div>
      </div>
{% endblock %}