<html>
    <h1>Crowd Counting</h1>
    {% if record.0.is_recording == True %}
        <img src="{% url 'face_mask_detection' %}" style="display: none;">
    {% endif %}
    {% if record.2.is_recording == True %}
        <h1>hello</h1>
    {% endif %}

    <form method="POST" action="{% url 'start_recording_crowd_counting' %}">
        <input type="submit" value="Start Recording">
    </form>

    <form method="POST" action="{% url 'stop_recording_crowd_counting' %}">
        <input type="submit" value="Stop Recording">
    </form>
</html>