{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Video Live Stream</title>
<link rel="stylesheet" href="../static/styles/face.css">
{% endblock %}

{% block content %}
<h1>Face Mask Detection</h1>
<hr>

{% if face.0.is_recording != 1 %}
<form action="{% url 'start_recording_face_mask' %}" method="POST">
    {% csrf_token %}
    <label>IP Address:</label>
    <input type="text" name="ipaddress" id="ipaddress" required=True><br>
    <input type="submit" value="Start Recording"><br>
</form>
{% else %}
<h4>Connected to {{ face_ip.0.ip_address }}</h4>
<img src="{% url 'face_mask_detection' %}" id="image">
<br>
<form method="POST" action="{% url 'stop_recording_face_mask' %}">
    {% csrf_token %}
    <input type="submit" value="Stop Recording">
</form>
<!-- <script>
    document.write("hello script");
    const url = '/getFaceMaskViolationsCount/';
    fetch(url, {
        method: 'get',
    }).then((violations) => {
        console.log('hi');
        //console.log(violations['temp']);
        var data=JSON.parse(violations);
        console.log(data)
        console.log(data[0].results);
        //'<h2>Violations: ${violations.results}</h2>'; 
    });
            
</script> -->
{% endif %}

{% endblock %}