{% extends 'base.html' %}
{% load static %}
<html>
    {% block head%}
        <title>Video Live Stream</title>
    {% endblock %}
    {% block content %}
        <h1>Face Mask Detection</h1>
        {% if record.0.is_recording == 1 %}
            <img src="{% url 'face_mask_detection' %}" id="image">
        {% endif %}

        <form method="POST" action="{% url 'start_recording_face_mask' %}">
            <input type="submit" value="Start Recording">
        </form>

        <form method="POST" action="{% url 'stop_recording_face_mask' %}">
            <input type="submit" value="Stop Recording">
        </form>
        <a href="{% url 'crowd_counting_view' %}">Crowd Counting</a>
        <br>
        <a href="{% url 'social_distancing_view' %}">Social Distancing</a>
    {% endblock %}
</html>