{% extends 'base.html' %}
{% load static %}

{% block head%}
<title>Help</title>
<link rel="stylesheet" href="{% static 'styles/help.css' %}">
{% endblock %}

{% block content %}
<h1>Help</h1>
<hr>
<div class="form-box">
    <form action="{% url 'send_email' %}" method="POST">
        {% csrf_token %}
        <div class="message-box">
            <input type="textarea" name="message" id="message">
            <label>Message</label>
        </div>
        <div class="submit-box">
            <input type="submit" class="ask-query" value="Ask Query">
            <a class="cancel" href="{% url 'home' %}">Cancel</a>
        </div>
    </form>
</div>

{% endblock %}