{% extends 'base.html' %}
{% load static %}

{% block head%}
<title>Video Live Stream</title>
{% endblock %}

{% block content %}
    <h1>Social Distancing</h1>
    <form action="social_ip" method="POST">
        Enter IP address: <input type="text" name="ipaddress" id="ipaddress"><br>
        <input type="submit"><br>
    </form>
    <hr>
    {% if record.2.is_recording == 1 %}
        <img src="{% url 'social_distancing' %}" id="image">
    {% endif %}

    <form method="POST" action="{% url 'start_recording_social_distancing' %}">
        <input type="submit" value="Start Recording">
    </form>

    <form method="POST" action="{% url 'stop_recording_social_distancing' %}">
        <input type="submit" value="Stop Recording">
    </form>

{% endblock %}
